@{
    ViewBag.Title = "Início";
}
@if (Request.IsAuthenticated)
{
    <!-- page content -->
    <div class="right_col" role="main" style="background: url('../../Assets/images/home.jpg'); background-size: cover; background-blend-mode: difference; "></div>
    <!-- /page content -->
}
else
{
<div class="h-100 d-flex align-items-center justify-content-center bg-white">
    <div style="background:red">
        TEXT
    </div>
</div>
        }
