@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>



    <ul>
        <li><a href="default.asp">Atletas</a></li>
        <li>
            <a href="news.asp">Prescricao</a>
            <ul>
                <li><a href="">Plano de Musculacao</a></li>
                <li><a href="">Plano Cardiovascular</a></li>
            </ul>
        </li>
        <li>
            <a href="news.asp">Avaliacao</a>
            <ul>
                <li>
                    <a href="">Estado Psicologico</a>
                    <ul>
                        <li><a href="">Ansiedade e Depressao</a></li>
                        <li><a href="">Auto Conceito</a></li>
                    </ul>
                </li>
                <li><a href="">Risco Coronario</a></li>
                <li><a href="">Problemas de Saude</a></li>
                <li><a href="">Flexibilidade</a></li>
                <li><a href="">Composicao Corporal</a></li>
                <li><a href="">Aptidao Cardio Respiratoria</a></li>
                <li><a href="">Pessoa Idosa</a></li>
                <li><a href="">Forca</a></li>
                <li><a href="">Funcional</a></li>
            </ul>
        </li>
        <li>
            <a href="news.asp">Consultas</a>
            <ul>
                <li><a href="">Prescricoes</a></li>
                <li><a href="">Prescricoes / Data</a></li>
                <li><a href="">Avaliacoes</a></li>
                <li><a href="">Avaliacoes / Data</a></li>
                <li><a href="">Avaliacoes / Percentil</a></li>
                <li><a href="">Peso Medio</a></li>
                <li><a href="">Analise Descritiva</a></li>
                <li><a href="">Ranking Avaliacoes</a></li>
                <li><a href="">Outras Avaliacoes</a></li>
            </ul>
        </li>
        <li><a href="about.asp">Relatorios</a></li>
        <li><a href="about.asp">Configuracoes</a></li>
    </ul>


    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>