.navImg
{border-radius:5px}

.fctable tr td input{width:60px !important
}
.crop-avatar{text-align:center !important}
table {
    width: 100% !important
}
table:not(.not-hidden) a {
    visibility: hidden
}

table tr:hover a {
    visibility: visible
}

.hideInputCheck tr td:first-child {
    display: none
}

.hideInputCheck tr th:first-child {
    display: none
}
.table tbody .selected > td {
    background-color: #eff0d2
}

.required{color:red}
.alert {
    padding: .5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.alert-primary {
    color: #3f4b9d
}

 .alert-primary {
    background-color: #dde1ff;
    border-color: #cfd4ff
}

     .alert-primary hr {
        border-top-color: #b6bdff
    }

.alert-primary .alert-link {
    color: #303a79
}

.alert-primary-light {
    color: #627f9d
}

 .alert-primary-light {
    background-color: #ebf5ff;
    border-color: #e2f1ff
}

     .alert-primary-light hr {
        border-top-color: #c9e5ff
    }

.alert-primary-light .alert-link {
    color: #4e667e
}

.alert-warning {
    color: #896d38
}

 .alert-warning {
    background-color: #faeed8;
    border-color: #f7e7c8
}

     .alert-warning hr {
        border-top-color: #f4ddb2
    }

.alert-warning .alert-link {
    color: #655029
}

.alert-danger {
    color: #844042
}

 .alert-danger {
    background-color: #f7dddc;
    border-color: #f4cfce
}

     .alert-danger hr {
        border-top-color: #efbbb9
    }

.alert-danger .alert-link {
    color: #622f31
}

.alert-accent {
    color: #8e1b40
}

 .alert-accent {
    background-color: #fbcedb;
    border-color: #fabbcd
}

     .alert-accent hr {
        border-top-color: #f8a3bc
    }

.alert-accent .alert-link {
    color: #63132d
}

.alert-accent-red {
    color: #8e1b40
}

 .alert-accent-red {
    background-color: #fbcedb;
    border-color: #fabbcd
}

     .alert-accent-red hr {
        border-top-color: #f8a3bc
    }

.alert-accent-red .alert-link {
    color: #63132d
}











.bg-success {
    background-color: #efe !important
}

.bg-inactive {
    background-color: #f8e3e3 !important
}
























/*########################
    #####################
    daterangepicker
*/
.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 278px;
    max-width: none;
    padding: 0;
    margin-top: 7px;
    top: 100px;
    left: 20px;
    z-index: 3001;
    display: none;
    font-family: arial;
    font-size: 15px;
    line-height: 1em
}

    .daterangepicker:before, .daterangepicker:after {
        position: absolute;
        display: inline-block;
        border-bottom-color: rgba(0,0,0,0.2);
        content: ''
    }

    .daterangepicker:before {
        top: -7px;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 7px solid #ccc
    }

    .daterangepicker:after {
        top: -6px;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent
    }

    .daterangepicker.opensleft:before {
        right: 9px
    }

    .daterangepicker.opensleft:after {
        right: 10px
    }

    .daterangepicker.openscenter:before {
        left: 0;
        right: 0;
        width: 0;
        margin-left: auto;
        margin-right: auto
    }

    .daterangepicker.openscenter:after {
        left: 0;
        right: 0;
        width: 0;
        margin-left: auto;
        margin-right: auto
    }

    .daterangepicker.opensright:before {
        left: 9px
    }

    .daterangepicker.opensright:after {
        left: 10px
    }

    .daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
        float: none
    }

    .daterangepicker.single .drp-selected {
        display: none
    }

    .daterangepicker.show-calendar .drp-calendar {
        display: block
    }

    .daterangepicker.show-calendar .drp-buttons {
        display: block
    }

    .daterangepicker.auto-apply .drp-buttons {
        display: none
    }

    .daterangepicker .drp-calendar {
        display: none;
        max-width: 270px
    }

        .daterangepicker .drp-calendar.left {
            padding: 8px 0 8px 8px
        }

        .daterangepicker .drp-calendar.right {
            padding: 8px
        }

        .daterangepicker .drp-calendar.single .calendar-table {
            border: 0
        }

    .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
        color: #fff;
        border: solid black;
        border-width: 0 2px 2px 0;
        border-radius: 0;
        display: inline-block;
        padding: 3px
    }

    .daterangepicker .calendar-table .next span {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg)
    }

    .daterangepicker .calendar-table .prev span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg)
    }

    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        min-width: 32px;
        width: 32px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        white-space: nowrap;
        cursor: pointer
    }

    .daterangepicker .calendar-table {
        border: 1px solid #fff;
        border-radius: 4px;
        background-color: #fff
    }

        .daterangepicker .calendar-table table {
            width: 100%;
            margin: 0;
            border-spacing: 0;
            border-collapse: collapse
        }

    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
        background-color: #eee;
        border-color: transparent;
        color: inherit
    }

    .daterangepicker td.disabled, .daterangepicker option.disabled {
        color: #999;
        cursor: not-allowed;
        text-decoration: line-through
    }

    .daterangepicker .calendar-time select.disabled {
        color: #ccc;
        cursor: not-allowed
    }

    .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
        background-color: #fff;
        border-color: transparent;
        color: #999
    }

    .daterangepicker td.in-range {
        background-color: #ebf4f8;
        border-color: transparent;
        color: #000;
        border-radius: 0
    }

    .daterangepicker td.start-date {
        border-radius: 4px 0 0 4px
    }

    .daterangepicker td.end-date {
        border-radius: 0 4px 4px 0
    }

    .daterangepicker td.start-date.end-date {
        border-radius: 4px
    }

    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
        background-color: #eee;
        border-color: transparent;
        color: inherit
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #357ebd;
        border-color: transparent;
        color: #fff
    }






.toast-title {
    font-weight: 700
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

    .toast-message a, .toast-message label {
        color: #FFF
    }

        .toast-message a:hover {
            color: #CCC;
            text-decoration: none
        }

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: alpha(opacity=80);
    filter: alpha(opacity=80);
    line-height: 1
}

    .toast-close-button:focus, .toast-close-button:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .4;
        -ms-filter: alpha(opacity=40);
        filter: alpha(opacity=40)
    }

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0;
    -webkit-appearance: none
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px
}

#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none
}

    #toast-container * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    #toast-container > div {
        position: relative;
        pointer-events: auto;
        overflow: hidden;
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        width: 300px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-position: 15px center;
        background-repeat: no-repeat;
        -moz-box-shadow: 0 0 12px #999;
        -webkit-box-shadow: 0 0 12px #999;
        box-shadow: 0 0 12px #999;
        color: #FFF;
        opacity: .8;
        -ms-filter: alpha(opacity=80);
        filter: alpha(opacity=80)
    }

        #toast-container > div:hover {
            -moz-box-shadow: 0 0 12px #000;
            -webkit-box-shadow: 0 0 12px #000;
            box-shadow: 0 0 12px #000;
            opacity: 1;
            -ms-filter: alpha(opacity=100);
            filter: alpha(opacity=100);
            cursor: pointer
        }

.toast {
    background-color: #030303
}

.toast-success {
    background-color: #51a351
}

.toast-error {
    background-color: #bd362f
}

.toast-info {
    background-color: #2f96b4
}

.toast-warning {
    background-color: #f89406
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40)
}

@media all and (max-width:240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media all and (min-width:241px) and (max-width:480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }

    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
}

@media all and (min-width:481px) and (max-width:768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }
}

#toast-container > div {
    opacity: 1
}

[dir] #toast-container > div {
    box-shadow: 0 10px 25px 0 rgba(50,50,93,.07),0 5px 15px 0 rgba(0,0,0,.07)
}

@media all and (max-width:240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }

        #toast-container > div.rtl {
            padding: 8px 50px 8px 8px
        }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em
    }

    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: .2em
    }
}

@media all and (min-width:241px) and (max-width:480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }

        #toast-container > div.rtl {
            padding: 8px 50px 8px 8px
        }

    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em
    }

    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: .2em
    }
}

@media all and (min-width:481px) and (max-width:768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }

        #toast-container > div.rtl {
            padding: 15px 50px 15px 15px
        }
}

.toast-top-center {
    top: 10px !important;
    right: 0;
    width: 100%
}

#toast-container.toast-top-center > div, #toast-container.toast-bottom-center > div {
    width: 400px;
    margin-left: auto;
    margin-right: auto
}

#toast-container > .toast {
    background-image: none !important
}

    #toast-container > .toast:before {
        position: fixed;
        font-family: FontAwesome;
        font-size: 24px;
        line-height: 18px;
        float: left;
        color: #FFF;
        padding-right: .5em;
        margin: auto .5em auto -1.5em
    }

#toast-container > .toast-error:before {
    content: "\f3ed"
}

#toast-container > .toast-success:before {
    content: "\f058"
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto
}








.planfieldset  {
    
    border:1px solid #ccc
} /* Remove margins from p elements inside fieldsets */

fieldset {
    border: 1px solid transparent;
}

legend {
    margin-bottom:.1rem !important
}
.planimg{
    border:1px solid #ccc
}


.bg-primary-pickled-bluewood {
    background:var(--INST_PER_TEMA_2) !important;
}




.w-70{width:70px !important;}